# Node
node_modules/
dist/
npm-debug.log
.env
.env.local

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
*.project
*.classpath

# Logs
*.log
logs/

# App Data
uploads/
.env

# Python / ML
__pycache__/
*.pyc
venv/
.venv/
